[user]
	name = Zoltan Nagy
	email = abesto0@gmail.com
[color]
	ui = true
[core]
	editor = vim
	whitespace = trailing-space,space-before-tab
	excludesfile = /Users/abesto/.gitignore_global
	ignorecase = false
	pager = diff-so-fancy | less --tabs=4 -RFX
[merge]
	tool = vimdiff
	guitool = gvimdiff
[alias]
	st = status
	co = checkout
	up = pull --rebase --autostash
[ui]
	color = auto
[push]
	default = tracking
[rerere]
	enabled = true
[rebase]
	autostash = true
[color "diff"]
	meta = yellow bold
	commit = green bold
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[commit]
	gpgsign = true
