[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = /home/abesto/.oh-my-zsh
[submodule ".vim/bundle/vim-pathogen"]
	path = .vim/bundle/vim-pathogen
	url = /home/abesto/.vim/bundle/vim-pathogen
[submodule ".vim/bundle/vim-coffee-script"]
	path = .vim/bundle/vim-coffee-script
	url = /home/abesto/.vim/bundle/vim-coffee-script
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = /home/abesto/.vim/bundle/nerdtree
[submodule ".vim/bundle/nodeunit.vim"]
	path = .vim/bundle/nodeunit.vim
	url = /home/abesto/.vim/bundle/nodeunit.vim
[submodule ".vim/bundle/vim-jade"]
	path = .vim/bundle/vim-jade
	url = /home/abesto/.vim/bundle/vim-jade
[submodule ".vim/bundle/vim-stylus"]
	path = .vim/bundle/vim-stylus
	url = /home/abesto/.vim/bundle/vim-stylus
