urxvt.font: xft:inconsolata:pixelsize=13
urxvt.saveLines:8192
urxvt.perl-ext-common:default,matcher,tabbed,vtwheel
urxvt.urllauncher:/usr/bin/firefox
urxvt.matcher.button: 1
urxvt.termName:rxvt-unicode

! Zenburn for urxvt
urxvt.background: #3f3f3f
urxvt.foreground: #dcdccc
urxvt.color0: #1E2320
urxvt.color1: #705050
urxvt.color2: #60b48a
urxvt.color3: #dfaf8f
urxvt.color4: #506070
urxvt.color5: #dc8cc3
urxvt.color6: #8cd0d3
urxvt.color7: #dcdccc
urxvt.color8: #709080
urxvt.color9: #dca3a3
urxvt.color10: #c3bf9f
urxvt.color11: #f0dfaf
urxvt.color12: #94bff3
urxvt.color13: #ec93d3
urxvt.color14: #93e0e3
urxvt.color15: #ffffff
