Xft.dpi: 96.0

xterm*foreground: white
xterm*background: black
xterm*cursorColor: white
xterm*font: -*-terminus-medium-*-*-*-*-120-*-*-*-*-*
XTerm*eightBitInput: false

urxvt.font: -*-terminus-medium-*-*-*-*-120-*-*-*-*-*
urxvt*urllauncher: conkeror
urxvt*matcher.button:        1
urxvt*saveLines:              8192
URxvt.perl-ext-common: default,matcher
URxvt.urlLauncher: conkeror
URxvt.colorUL: #86a2be
urxvt.keysym.M-u: perl:mark-yank-urls:activate_mark_mode
urxvt*scrollBar: false
urxvt*urgentOnBell:true

! Zenburn for urxvt
urxvt.background:  #3f3f3f
urxvt*foreground:  #dcdccc
urxvt*color0:      #1E2320
urxvt*color1:      #705050
urxvt*color2:      #60b48a
urxvt*color3:      #dfaf8f
urxvt*color4:      #506070
urxvt*color5:      #dc8cc3
urxvt*color6:      #8cd0d3
urxvt*color7:      #dcdccc
urxvt*color8:      #709080
urxvt*color9:      #dca3a3
urxvt*color10:     #c3bf9f
urxvt*color11:     #f0dfaf
urxvt*color12:     #94bff3
urxvt*color13:     #ec93d3
urxvt*color14:     #93e0e3
urxvt*color15:     #ffffff

! Zenburn for stjerm
stjerm*background:  #3f3f3f
stjerm*foreground:  #dcdccc
stjerm*color0:      #1E2320
stjerm*color1:      #705050
stjerm*color2:      #60b48a
stjerm*color3:      #dfaf8f
stjerm*color4:      #506070
stjerm*color5:      #dc8cc3
stjerm*color6:      #8cd0d3
stjerm*color7:      #dcdccc
stjerm*color8:      #709080
stjerm*color9:      #dca3a3
stjerm*color10:     #c3bf9f
stjerm*color11:     #f0dfaf
stjerm*color12:     #94bff3
stjerm*color13:     #ec93d3
stjerm*color14:     #93e0e3
stjerm*color15:     #ffffff


conapp.font: -*-terminus-medium-*-*-*-*-120-*-*-*-*-*
conapp.background: black
conapp.foreground: white
conapp*scrollBar:    false
conapp*scrollBar_floating:    true
conapp*scrollBar_right:   true
conapp*scrollColor:       #202020
conapp*matcher.button:        1
conapp*saveLines:              8192
conapp*background:  #3f3f3f
conapp*foreground:  #dcdccc
conapp*color0:      #1E2320
conapp*color1:      #705050
conapp*color2:      #60b48a
conapp*color3:      #dfaf8f
conapp*color4:      #506070
conapp*color5:      #dc8cc3
conapp*color6:      #8cd0d3
conapp*color7:      #dcdccc
conapp*color8:      #709080
conapp*color9:      #dca3a3
conapp*color10:     #c3bf9f
conapp*color11:     #f0dfaf
conapp*color12:     #94bff3
conapp*color13:     #ec93d3
conapp*color14:     #93e0e3
conapp*color15:     #ffffff

im.font: -*-terminus-medium-*-*-*-*-120-*-*-*-*-*
im.background:  black
im.foreground:  #dcdccc
im*scrollBar:    false
im*scrollBar_floating:    true
im*scrollBar_right:   true
im*scrollColor:       #202020
im*matcher.button:        1
im*saveLines:              8192
im*urgentOnBell:true
im*background:  #3f3f3f
im*foreground:  #dcdccc
im*color0:      #1E2320
im*color1:      #705050
im*color2:      #60b48a
im*color3:      #dfaf8f
im*color4:      #506070
im*color5:      #dc8cc3
im*color6:      #8cd0d3
im*color7:      #dcdccc
im*color8:      #709080
im*color9:      #dca3a3
im*color10:     #c3bf9f
im*color11:     #f0dfaf
im*color12:     #94bff3
im*color13:     #ec93d3
im*color14:     #93e0e3
im*color15:     #ffffff

aterm*scrollBar: false

Emacs.font: -*-terminus-medium-*-*-*-*-120-*-*-*-*-iso8859-1
